
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
main{
    margin: 20% 10% 20% 10%;
    height: 40%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

h1{
    margin-bottom: 30px;
}
.parametros, .funciones{
    margin: 30px;
}
.funciones{
    display: flex;
    justify-content: space-evenly;
}
.funciones button{
    width: 30%;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.funciones button:hover{
    background-color: chartreuse;
}