*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../img/fondo.jpg);
}
.encabezado{
    text-align: center;
}
h1{
    color: deeppink;
}
img{
    width: 100%;
    border-radius: 10px;
}


header{
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    background-color: gray;
    opacity: 1;
    width: 98%;
    height: auto;
    padding: 5px;
}
.flexi{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex-item{
    margin: 5px;
    border-radius: 8px;
    padding: 5px;
    background-color: white;
    width: 200px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-content{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.modal-image{
    max-width: 90%;
    max-height: 90%;
}
.close{
    color: red;
    font-size: 40px;
    font-weight: bolder;
    position: absolute;
    right: 35px;
    top: 15px;
    cursor: pointer;
}
