body{
    background-color: rgb(227, 227, 227);
    display: flex;
    justify-content: center;
}
.r{
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    width: 40%;
}
.r h1{
    text-align: center;
}
input{
    width: 98%;
    margin-bottom: 10px;
}
button{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    border-color: forestgreen;
    background-color: forestgreen;
    color: white;
}
.error{
    color: red;
    font-size: 10pt;
}
.sucess{
    border-color: forestgreen;
}
.sucess:focus{
    border-color: forestgreen;
}
.error-input{
    border-color: red;
}
.error-input:focus{
    border-color: red;
}