body{
    background-color: rgb(230, 230, 230);
}
main{
    text-align: center;
}

#cuadro{
    border-color: red;
    border-style: solid;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

main button{
    border-color: red;
    background-color: red;
    border-radius: 5px;
    color: white;
}